<!-- extend base html -->
{% extends 'poll_stations/main.html' %}
{% load static %}
<!-- Adding header in the html document  -->
{% block title %} Pollution Level Capture Stations {% endblock %}
<!-- start of header scripts -->
{% block header %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

<link rel="stylesheet" href="{% static 'poll_stations/css/L.Control.Sidebar.css' %}">

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/leaflet.markercluster.js'></script>
<link href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/MarkerCluster.css' rel='stylesheet' />
<link href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/MarkerCluster.Default.css'
    rel='stylesheet' />

<style>
    html,
    body {
        height: 100%;
        margin: 0;
    }

    #map {
        position: block;
        margin: auto;
        height: 100%;
        width: 100%;
    }

    #marker-info {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 10px;
        background-color: white;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-width: 300px;
        z-index: auto;
    }

    #close-marker-info {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        font-size: 16px;
        color: #999;
        border: none;
        background: none;
        z-index: 1000;
    }

    #close-marker-info:hover {
        color: #333;
    }
    /* Add this to your CSS file or style section */
    /* .progress-bar-container {
        width: 100%;
        height: 20px;
        background-color: #f0f0f0;
        margin-top: 5px;
    } */

    /* .progress-bar {
        height: 100%;
        background-color: #4caf50; /* Green color for progress */
    } */
    .minValue {
        right: 0;
        margin-right: 10px;
        padding-bottom: 2px;
    }
    .maxValue {
        left: 0;
        margin-left: 10px;
        padding-bottom: 2px;

    }
    .avgValue{
        padding-left: 5px;
    }


</style>
<script src="{% static 'poll_stations/js/script.js' %}"></script>
<script src="{% static 'poll_stations/js/L.Control.Sidebar.js' %}"></script>
{% endblock %}
<!-- end header scripts  -->

<!-- Body start  -->
{% block body %}
<div id="map"></div>

<div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary">

    <h2 id="station_header">Real Time Pollution Status</h2>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li id="country" class="nav-item"></li>
        <li id="state"></li>
        <li id="city"></li>
        <li id="station"></li>
        <li id="last_updated"></li>
    </ul>
    <hr>
    <div id="pollutants-container"></div>
</div>



<script>
    var iconImage = '{% static "poll_stations/images/chimney.png"  %}';
</script>

{% endblock %}